.answerItem{
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.answerItem:hover{
    background: rgb(255, 255, 255, .2);
    transition: background .3s ease-in-out;
}